:root {
  --clr-accent: rgb(251, 116, 19);
  --clr-light: hsl(217, 12%, 63%);
  --clr-medium: hsl(216, 12%, 54%);
  --clr-dark: hsl(213, 19%, 18%);
  --clr-darkest: hsl(216, 12%, 8%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  place-items: center;
  margin: 0;
  font-family: 'Overpass', sans-serif;
  color: #8c939d;
  background-color: #141519;
  padding: 1rem;
  font-size: 15px;
}

.card {
  max-width: 375px;
  background: rgb(51, 64, 82);
  background: linear-gradient(232deg, rgb(34, 42, 55) 0%, rgba(23, 30, 40, 1) 100%);
  border-radius: 15px;
  padding: 2rem;
  padding-top: 1.7rem;
}

.window-1 {
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

.rating-con,
.star-con {
  background-color: #262f38;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
}

.rating-con span {
  transform: translateY(10%);
}

.star-img {
  width: 15px;
}

.title,
.title2 {
  color: white;
  font-weight: 800;
  font-size: 1.6rem;
}

.title {
  margin-top: 1.3rem;
  margin-bottom: 0;
}


.rating-con:hover {
  background: rgb(251, 116, 19);
  color: white;
  cursor: pointer;
}

.clicked {
  background-color: #959eac;
  color: white;
}

.text {
  font-size: 15px;
  line-height: 1.6;
}

.rating-con-con {
  margin-top: .8rem;
  display: flex;
  justify-content: space-between;
}

.btn {
  margin-top: 1.5rem;
  text-transform: uppercase;
  border: none;
  background-color: rgb(251, 116, 19);
  color: #fff7dc;
  border-radius: 25px;
  width: 100%;
  padding: 1rem;
  font-size: .9rem;
  font-weight: 800;
  letter-spacing: 2px;
}

.btn:hover {
  /* background: hsl(217, 12%, 63%); */
  background: hsl(0, 0%, 100%);
  color: rgb(251, 116, 19);
  cursor: pointer;
}

/* ! WINDOW 2 */
.window-2 {
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

.window-2 img {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.you-selected-con {
  background-color: #262f38;
  border-radius: 20px;
  padding: .1rem .3rem;
  width: 60%;
  margin: 0 auto;
  padding: .4rem .5rem;
  padding-top: .5rem;
}

.you-selected {
  width: max-content;
  margin: 0 auto;
  font-size: 15px;
  color: rgb(251, 116, 19);
}

.title2 {
  margin: 0 auto;
  margin-top: 1.8rem;
  margin-bottom: 1rem;
}

.text2 {
  font-size: 1rem;
  text-align: center;
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 0.5rem;
}


























.window-1 {
  display: flex;
}

.window-2 {
  display: none;
}